In [53]:
# Import Libraries

In [54]:
import pandas as pd
import numpy as np
from ydata_profiling import  ProfileReport
from IPython.display import display, Markdown
%matplotlib inline

In [55]:
# Load Data

In [56]:
df = pd.read_excel('real_estate_rental_prices.xlsx')

In [57]:
# Analyze DataSet function

In [58]:
def analyzeDataSet(DataSet,state):
    display(Markdown('### Display data'))
    display(Markdown(DataSet.head().to_markdown()))
    display(Markdown('### Data Info'))
    display(Markdown(DataSet.info()))
    display(Markdown('### Describe Data'))
    display(Markdown(DataSet.describe().round(2).to_markdown()))
    display(Markdown('### DataFrame for Information about Dataset'))
    information_DataSet = pd.DataFrame({"name": DataSet.columns,
                     "non-nulls": len(DataSet)-DataSet.isnull().sum().values,
                     "nulls": DataSet.isnull().sum().values,
                     "type": DataSet.dtypes.values})
    display(Markdown(information_DataSet.to_markdown()))
    # Construct rows
    info_list=[]
    for column in DataSet.columns:
        row = [column,
               min(df[column]),
               max(df[column]),
               df[column].nunique(),
               df[column].isna().sum(),
               df.duplicated().sum()
              ]
        info_list.append(row)
    display(Markdown('### DataFrame for information about Dataset Values'))
    # Convert List to DataFrame
    info_df = pd.DataFrame(data = info_list,
                            columns=['Column_name',
                                     'Minimum_value',
                                     'Maximum_value',
                                     'Number_of_unique_records',
                                     'Number_of_null_records',
                                     'Number_of_duplicated_records'
                                    ])
    display(Markdown(info_df.to_markdown()))
    display(Markdown('### show data types'))
    print(info_df.dtypes)
    display(Markdown('### Remove comment character if you want to proceed Running Ydata Report'))
    pf = ProfileReport(df)
    if state == 'pre':
        pf.to_file('ReatEstateRental_BEFORE_pre_process.html')
    elif state == 'post':
        pf.to_file('ReatEstateRental_AFTER_pre_process.html')
    else :
        print('for state of analysis, use "pre" or "post"')

In [59]:
# Analyze DataSet before pre processing

In [60]:
analyzeDataSet(df,'pre')

### Display data

|    |   Serial |   Evaluation |   Residence |   Area | RsDescription                    | Neighbourhood   |   OneNightPrice | City   | RsCategory   |
|---:|---------:|-------------:|------------:|-------:|:---------------------------------|:----------------|----------------:|:-------|:-------------|
|  0 |        0 |         10   |           7 |     40 | استديو بسرير ماستر وجلسة         | حي العزيزية     |             250 | العلا  | استديو       |
|  1 |        1 |          9.2 |           6 |   3000 | استديو بسريرين فردية وبأثاث بسيط | العذيب          |             280 | العلا  | استديو       |
|  2 |        2 |         10   |          43 |   1000 | شقة بغرفة معيشة وغرفتين نوم      | حي العزيزية     |             400 | العلا  | شقة          |
|  3 |        3 |          9.4 |           4 |    400 | استراحة بصالة جلوس وغرفتين نوم   | حي المعتدل      |             799 | العلا  | استراحة      |
|  4 |        4 |          9.6 |          29 |   3000 | شقة بغرفة جلوس وغرفة نوم         | جنوب المستشفى   |             550 | العلا  | شقة          |

### Data Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16913 entries, 0 to 16912
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Serial         16913 non-null  int64
 1   Evaluation     16913 non-null  float64
 2   Residence      16913 non-null  int64
 3   Area           16913 non-null  int64
 4   RsDescription  16913 non-null  object
 5   Neighbourhood  16913 non-null  object
 6   OneNightPrice  16913 non-null  object
 7   City           16913 non-null  object
 8   RsCategory     16913 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 1.2+ MB

### Describe Data

|       |   Serial |   Evaluation |   Residence |      Area |
|:------|---------:|-------------:|------------:|----------:|
| count | 16913    |     16913    |    16913    |  16913    |
| mean  |   732.86 |         7.63 |       21.41 |    564.24 |
| std   |   647.15 |         3.58 |       35.3  |   3880    |
| min   |     0    |         0    |        0    |     10    |
| 25%   |   197    |         7.8  |        1    |     35    |
| 50%   |   540    |         9.3  |        8    |     60    |
| 75%   |  1090    |         9.9  |       25    |    300    |
| max   |  2387    |        10    |      443    | 110000    |

### DataFrame for Information about Dataset

|    | name          |   non-nulls |   nulls | type    |
|---:|:--------------|------------:|--------:|:--------|
|  0 | Serial        |       16913 |       0 | int64   |
|  1 | Evaluation    |       16913 |       0 | float64 |
|  2 | Residence     |       16913 |       0 | int64   |
|  3 | Area          |       16913 |       0 | int64   |
|  4 | RsDescription |       16913 |       0 | object  |
|  5 | Neighbourhood |       16913 |       0 | object  |
|  6 | OneNightPrice |       16913 |       0 | object  |
|  7 | City          |       16913 |       0 | object  |
|  8 | RsCategory    |       16913 |       0 | object  |

### DataFrame for information about Dataset Values

|    | Column_name   | Minimum_value                    | Maximum_value            |   Number_of_unique_records |   Number_of_null_records |   Number_of_duplicated_records |
|---:|:--------------|:---------------------------------|:-------------------------|---------------------------:|-------------------------:|-------------------------------:|
|  0 | Serial        | 0                                | 2387                     |                       2388 |                        0 |                              0 |
|  1 | Evaluation    | 0.0                              | 10.0                     |                         84 |                        0 |                              0 |
|  2 | Residence     | 0                                | 443                      |                        258 |                        0 |                              0 |
|  3 | Area          | 10                               | 110000                   |                        275 |                        0 |                              0 |
|  4 | RsDescription | ,شاليه بجلسة خارجية  ومسبح خارجي | وحده بيت شعر  هادئ ومريح |                       3820 |                        0 |                              0 |
|  5 | Neighbourhood | حي المروة                        | وشي                      |                        969 |                        0 |                              0 |
|  6 | OneNightPrice | 1,000                            | 999                      |                        815 |                        0 |                              0 |
|  7 | City          | ابها                             | ينبع                     |                         24 |                        0 |                              0 |
|  8 | RsCategory    | استديو                           | منتجع                    |                         14 |                        0 |                              0 |

### show data types

Column_name                     object
Minimum_value                   object
Maximum_value                   object
Number_of_unique_records         int64
Number_of_null_records           int64
Number_of_duplicated_records     int64
dtype: object

### Remove comment character if you want to proceed Running Ydata Report

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]